*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #F2F4F5;
}

li{
    list-style-type: none;
}

.container{
    display:block;
    width:200px;
    height: max-content;
    z-index: 10;
}

.contextMenu{
    background-color: #FFFFFF;
    color:#0B0A09;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:16px;
    padding:16px ;
    border-radius: 10px;
}

.icon{
    width:20px;
    font-size: 14px;
}

.itemMenu{
    display:flex;
    justify-content: flex-start;
    align-items: baseline;
    gap:10px;
}